.song-title {
    display: flex;
    padding-left: 50px;
    padding-top: 40px;
}

.body-lyrics {
    height: 542px;
    margin: auto;
    overflow-y: scroll;
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    /* width: 100%; */
}