.header {
    background-color: rgb(185, 146, 86);
}

.col-6 {
    background-color: rgb(255, 255, 255);
    height: 75%;
    padding-left: 20px;
}


/* Need to set width so that the table header doesn't shrink */

.nav-container {
    display: flex;
    padding-bottom: 5px;
    /* padding-left: 25px; */
}

.navchar {
    display: inline-block;
    margin: auto;
    width: 100%/27;
}

.table-wrap {
    height: 550px;
    overflow: scroll;
}

table {
    padding-left: 20px;
    /* display: block; */
    margin: auto;
    width: 80%;
    table-layout: fixed;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px grey;
    border-radius: 5px;
}

body>div.col-6>div.table-wrap>table>thead>tr>th:nth-child(1) {
    background-color: aquamarine;
}

body>div.col-6>div.table-wrap>table>thead th:nth-child(2) {
    width: 20%;
    background-color: rgb(161, 161, 243);
}

body>div.col-6>div.table-wrap>table>thead th:nth-child(3) {
    width: 20%;
    background-color: yellow;
}

body>div.col-6>div.table-wrap>table>thead th:nth-child(4) {
    width: 20%;
    background-color: rgb(206, 96, 96);
}

body>div.col-6>div.table-wrap>table>thead {
    background-color: #dfdfdf;
    border-radius: 7px 7px 0px 0px;
}

body>div.col-6>table>tbody {
    border-radius: 0px 0px 7px 7px;
    padding: 10px 10px;
}

*/ body>div.row>div.col-6>table>tbody>tr {
    width: 100%;
    display: table;
}

body>div.row>div.col-6>table>tbody>tr>td {
    text-align: center;
    width: 25%;
}